<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>FANPAGE</title>
    
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
            <img src="<%=data.image.url%>">
            <h2><%=data.name%></h2>
            <hr>
            <h4>Powerstats</h2>
            <ul>
                <li>Intelligence: <%=data.powerstats.intelligence%></li>
                <li>Strength: <%=data.powerstats.strength%></li>
                <li>Speed: <%=data.powerstats.speed%></li>
                <li>Durability: <%=data.powerstats.durability%></li>
                <li>Power: <%=data.powerstats.power%></li>
                <li>Combat: <%=data.powerstats.combat%></li>
            </ul>
            <h4>Biography</h4>
            <ul>
                <li>Full Name: <%=data.biography["full-name"]%></li>
                <li>Alter Egos: <%=data.biography["alter-egos"]%></li>
                <li>Aliases: <%for(let i=0;i<data.biography.aliases.length;i++){%>
                    <%=data.biography.aliases[i]%>, <%}if(data.biography.aliases.length>0){%>
                        <%=data.biography.aliases[data.biography.aliases.length-1]%>
                    <%}%> </li>
                <li>Place of Birth: <%=data.biography["place-of-birth"]%></li>
                <li>First Appearance: <%=data.biography["first-appearance"]%></li>
                <li>Publisher: <%=data.biography.publisher%></li>
                <li>Alignment: <%=data.biography.alignment%></li>
            </ul>
            <h4>Appearance</h4>
            <ul>
                <li>Gender: <%=data.appearance.gender%></li>
                <li>Race: <%=data.appearance.race%></li>
                <li>Height: <%=data.appearance.height[0]%></li>
                <li>Weight: <%=data.appearance.weight[0]%></li>
                <li>Eye Color: <%=data.appearance["eye-color"]%></li>
                <li>Hair Color: <%=data.appearance["hair-color"]%></li>
            </ul>
            <h4>Work</h4>
            <ul>
                <li>Occupation: <%=data.work.occupation%></li>
                <li>Base: <%=data.work.base%></li>
            </ul>
            <h4>Connections</h4>
            <ul>
                <li>Group Affiliation: <%=data.connections["group-affiliation"]%></li>
                <li>Relatives: <%=data.connections.relatives%></li>
            </ul>
        </div>
        <hr>
        <div>
            <div class="well">
                <%for(let i=0;i<Qvalue.length;i++){%>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=Qvalue[i].name%></strong>
                            <span class="pull-right"><%=Qvalue[i].days_ago%> days ago</span>
                            <p>
                                <%=Qvalue[i].Val%>
                            </p>
                            <button class="material-icons-outlined lbutton" >
                                thumb_up
                            </button>
                            <button class="material-icons unselected lbutton">
                                thumb_up
                            </button>
                            <button class="material-icons-outlined lbutton" >
                                thumb_down
                            </button>
                            <button class="material-icons unselected lbutton">
                                thumb_down
                            </button>
                            <%if(user && user.id===Qvalue[i].id){%>
                                <form action="/showFinal/<%=id%>/<%=Qvalue[i].C_id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            <%}%>
                            <hr>
                        </div>
                    </div>
                <%}%>
                <form action="/showFinal/<%=id%>/newComment" method="POST">
                    <input type="text" name="comment" placeholder="Write Comment">
                    <button type="submit" class="btn btn-default">Add Comment</button>
                </form>                
            </div>
        </div>
    </div>
    <br>
    <br>
    
    <script src="/stylesheets/EventListeners.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

